html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

#wrapper {
  display: table;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 15px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 1200px;
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
  font-weight: 700;
  width: 1200px;
}

.filter-row {
  text-align: left;
  padding: 15px 10px;
  border-bottom: 1px solid lightgrey;
  font-weight: 700;
  width: 1200px;
}

.filter-input {
  margin-left: 10px;
  width: 200px;
  height: 25px;
}

/* div.id-column {
  width: 60px;
  padding: 20px 10px;
  text-align: left;
  margin-right: 75px;
}

div.id-column-header {
  width: 60px;
  padding: 20px 10px;
  text-align: left;
} */

.table-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid lightgray;
  color: rgb(49, 47, 47);
}

.table-row:hover,
.table-row:focus {
  background-color: lightgray;
}

.headerBorder {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.table-column,
.headerBorder {
  padding: 20px 10px;
  text-align: left;
  width: 100%;
}

.header-column {
  width: 100%;
  display: flex;
  align-items: baseline;
  text-align: center;
  border-left: 3px solid lightgray;
  height: 20px;
}

/* .id::before {
  content: "";
  position: absolute;
  left: 30px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.name::before {
  content: "";
  position: absolute;
  left: 123px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.iso::before {
  content: "";
  position: absolute;
  left: 297px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.phone-code::before {
  content: "";
  position: absolute;
  left: 472px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.currency::before {
  content: "";
  position: absolute;
  left: 647px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.capital::before {
  content: "";
  position: absolute;
  left: 821px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.capital::after {
  content: "";
  position: absolute;
  left: 980px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
} */

.fa-arrow-up {
  color: lightgray;
  font-size: 15px;
  width: 15px;
  height: 15px;
  text-align: center;
}

.fa-ellipsis-v {
  padding-right: 20px;
  color: lightgray;
  font-size: 15px;
  width: 15px;
  height: 15px;
  text-align: center;
}

.hidden {
  display: none;
}

.input {
  margin-left: 10px;
  margin-right: 10px;
  color: #3a3838;
  cursor: pointer;
}

.btn-arrow,
.btn-more {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  border-color: transparent;
}
.button-more {
  position: relative;
}

.button-wrapper {
  margin-left: 15px;
  width: 60px;
  display: flex;
  flex-grow: 10;
  justify-content: space-between;
  align-items: baseline;
  /* opacity: 0; */
}

.table-column-hidden {
  display: none;
}

.select {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 70px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  height: 163px;
  width: 100px;
  transition: 0.5s;
}

.button-list {
  margin: 0;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 40px;
  border-color: transparent;
  background-color: white;
}

.list {
  width: 100%;
}
.hidden-dropdown {
  display: none;
}

/* modal */
.modal {
}
.modal.open .modal-overlay,
.modal.open .modal-window {
  opacity: 1;
  z-index: 10;
}

.modal .modal-window,
.modal .modal-overlay {
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(129, 124, 124, 0.7);
  transition: background-color 0.2s ease-in;
}

.modal-window {
  width: 500px;
  height: 450px;
  border-radius: 5px;
  background-color: white;
  margin: 100px auto;
}

.modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.modal-title {
  font-size: 1.5rem;
}
.modal-close {
  cursor: pointer;
  color: black;
  font-weight: 700;
}
.close {
  display: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.label-form {
  margin-bottom: 5px;
  margin-left: 15px;
}
.input-form {
  margin-left: 15px;
  margin-bottom: 5px;
  height: 30px;
  width: 200px;
}

.button-form {
  width: 80px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}
